

.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: margin-left 0.3s;

  &.sidebar-closed {
    @media (min-width: 769px) {
      margin-left: 70px;
    }
  }
}

.main-container {
  display: flex;
  flex: 1;
}

.app-sidebar {
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
}

.add-room-section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.add-room-btn {
  background-color: #34495e;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: #394e63;
  }
}

.btn-custom {
  background-color: #394e63;
  color: white;
  border: none;
}

.btn-custom2 {
  background-color: #4d6782;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .dashboard-layout {
    margin-left: 0 !important;
  }

  .main-content {
    margin-left: 0 !important;
  }
}

