<!-- 
<nav class="navbar">
  <div class="logo">
    <img src="assets/img.png" alt="Logo" class="logo-img" />
    <h2>smart house</h2>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Search..." />
    <i class="bi bi-search search-icon"></i>
  </div>


  <div class="right-section">
    <div class="notification">
      <i class="bi bi-bell"></i>
    </div>
    <div class="profile">
      <img src="assets/profile.png" alt="Profile Avatar" class="avatar" />
    </div>
  </div>
</nav> -->







<nav class="navbar">
  <div class="search-bar">
    <input type="text" placeholder="Search..." />
  </div>
  <div class="user-info">
    <span>{{userInfo?.username}}</span>
    <img src="assets/profile.png" alt="Avatar" class="avatar" />
  </div>
</nav>
