

// .sidebar {
//   background-color: #3f529b;
//   width: 250px; /* Largeur par défaut */
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   padding: 15px;
//   transition: width 0.3s ease;
//   overflow: hidden;

//   &.closed {
//     width: 80px; /* Largeur réduite */
//     .toggle-btn span,
//     .nav-item span {
//       display: none; /* Masque le texte */
//     }

//     .sidebar-logo img {
//       transform: rotate(-90deg); /* Rotation du logo pour signaler l'état */
//     }
//   }

//   .sidebar-logo {
//     margin-bottom: 20px;
//     cursor: pointer;

//     img {
//       width: 0px;
//       height: auto;
//       transition: transform 0.3s ease;
//     }
//   }

//   .toggle-btn {
//     background: none;
//     border: none;
//     color: white;
//     font-size: 18px;
//     margin-bottom: 20px;
//     display: flex;
//     align-items: center;
//     gap: 10px;
//     cursor: pointer;

//     .icon {
//       font-size: 20px;
//     }

//     &:hover {
//       color: #f0f0f0;
//     }
//   }

//   .sidebar-nav {
//     display: flex;
//     flex-direction: column;
//     gap: 15px;
//     width: 100%;

//     .nav-item {
//       display: flex;
//       align-items: center;
//       gap: 10px;
//       padding: 10px 15px;
//       border-radius: 8px;
//       color: white;
//       text-decoration: none;
//       font-size: 16px;
//       transition: background-color 0.3s ease;

//       &:hover {
//         background-color: #5e6ebb;
//       }

//       &.active {
//         background-color: #4e5a9b;
//       }

//       .icon {
//         font-size: 20px;
//       }
//     }
//   }
// }








.sidebar {
  position: fixed; /* Sidebar reste toujours fixe */
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh; /* Toujours sur toute la hauteur */
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Réserve de l'espace pour le toggle */
  transition: width 0.3s;

  &.collapsed {
    width: 70px;
  }
}

.sidebar-toggle {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  background-color: #2c3e50;
 // border-bottom: 1px solid #444;
}

.menu-items {
  flex: 1; /* Prend tout l'espace disponible */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre les items verticalement */
  align-items: center; /* Centre les items horizontalement */
}

nav a {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  color: white;
  text-decoration: none;
  justify-content: center; /* Centre le contenu dans chaque lien */
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #34495e;
}

mat-icon {
  margin-right: 10px;
}

.collapsed mat-icon {
  margin-right: 0;
}

.collapsed span {
  display: none;
}
