<div class="dashboard-layout">
  <app-navbar></app-navbar>
  <div class="main-container">

    <app-sidebar class="app-sidebar"></app-sidebar>

    <div class="main-content">
      <div class="add-user-section">
        <button type="button" class="add-user-btn" data-bs-toggle="modal" data-bs-target="#addUserModal">
          <i class="bi bi-plus"></i>Add User
        </button>
      </div>
      </div>
    </div>
  </div>



  
<!-- Add USer Model -->
<div class="modal fade" tabindex="-1" role="dialog" id="addUserModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="bi bi-house-add"></i>Add User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm">
          <!-- Room Name -->
          <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input type="text" id="userNAme" class="form-control" formControlName="name" placeholder="Enter user name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-custom" (click)="saveUser()">Save User</button>
        <button type="button" class="btn btn-custom2" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
