.dashboard-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-container {
    display: flex;
    flex: 1;
  }
  
  .app-sidebar {
    width: 70px; 
    background-color: #f4f4f4;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
  }
  
.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .user-container {
    display: flex;
    justify-content: center; /* Centre le contenu */
    align-items: center; /* Centre verticalement */
    flex: 1;
    margin-top: 10px; /* Ajoute un petit espace entre "Your Rooms" et les images */
  }
  
  
  
  
  .add-user-section {
    display: flex;
    justify-content: flex-end; /* Positionne le bouton à gauche */
    margin-bottom: 20px; /* Espace entre le bouton et la liste des rooms */
  }
  
  .add-user-btn {
    // background-color: #5519d0; /* Couleur Bootstrap */
    background-color: #394e63;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .add-user-btn:hover {
  //  background-color: #6511cb;
  background-color: #4d6782;
  }
  
  
  
  .btn-custom {
    background-color: #394e63; 
    color: white; /* Couleur du texte */
    border: none;
  }
  
  .btn-custom2 {
    background-color: #4d6782; /* Couleur au survol */
    color: white; /* Couleur du texte */
    border: none;
  }


  .user-list {
    margin-top: 20px;
  }
  
  .user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  

  
  

// .user-management-container {
//     max-width: 1000px;
//     margin: 10px;
//     padding: 5px ;
//   }





  
  .add-user-section {
    margin-bottom: 20px;
  }
  
  .user-list {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
  }
 
  .user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
  
    &:last-child {
      border-bottom: none;
    }
  }
  
  .user-actions {
    button {
      margin-left: 10px;
    }
  }
  


  .main-content {
    background-image: url('/assets/housse.jpg'); /* Chemin vers votre image */
    background-size: cover; /* L'image couvre toute la page */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
    margin: 0; /* Supprime les marges */
    height: 100vh; /* Prend toute la hauteur de l'écran */
  }
  