
<div class="login-container">
    <div class="login-box">
      <h1 class="login-title">Waiting for You!</h1>
      <h2>Hurry up!</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <input type="text" formControlName="username" placeholder="Username" />
          <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
            <div *ngIf="loginForm.get('username')?.errors?.['required']" class="error-message"style="color: #dc3545">Username is required.</div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" placeholder="House Code" />
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            <div *ngIf="loginForm.get('password')?.errors?.['required']" class="error-message"style="color: #dc3545">House Code is required.</div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="login-button" [disabled]="loginForm.invalid">join now</button>
        </div>
      </form>
      <div class="redirect">
         <a href="/signup">SignUp</a>
      </div>
    </div>
  </div>
  