<div class="container">
  <!-- Navigation Sidebar -->
  <nav class="main-menu">
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">Community Dashboard</span>
        </a>
      </li>
      <!-- Autres éléments du menu -->
    </ul>
    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">Logout</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Main Content -->
  <div class="content">
    <app-test></app-test>
  </div>
</div>
